:root {
    --font-family-name: "Droid Sans";

    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #10100e;

    --border-radius-small: 10px;

    --margin-medium: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-gray);
    font-family: var(--font-family-name);
}
