:root {
    --font-family-main: "Droid Sans";

    --font-main-size: 16px;
    --font-subheader-size: 18px;
    --font-header-size: 20px;
    --font-bold: 600;

    --width-max: 1200px;

    --color-white: #fff;
    --color-black: #000;
    --color-dark-gray: #10100e;
    --color-yellow: #FFFF00;
    --color-blue: #6a83fb;
    --color-violet: #ae72c2;
    --color-red: #f75d83;

    --border-radius-small: 3px;
    --border-radius-medium: 6px;
    --border-radius-large: 10px;

    --text-shadow-yellow: 0 0 2px var(--color-white),
    0 0 40px var(--color-yellow);
    --text-shadow-blue: 0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

    --box-shadow-white: 0 0 2px var(--color-white),
    0 0 10px var(--color-white);
    --box-shadow-yellow: 0 0 2px var(--color-yellow),
    0 0 10px var(--color-yellow);
    --box-shadow-violet: 0 0 2px var(--color-violet),
    0 0 10px var(--color-violet);

    --margin-smaller: 5px;
    --margin-small: 10px;
    --margin-medium: 20px;
    --margin-large: 30px;

    /* THEMES */
    --theme-light-header: #01ffd6;
    --theme-dark-header: var(--color-red);
    --theme-general-header: var(--color-yellow);
    --theme-default-header: var(--theme-general-header);

    --theme-light-bgimage: linear-gradient(to right top, #3f3a3a, #443f3f, #4a4444, #4f4949, #554e4e);
    --theme-dark-bgimage: linear-gradient(to right top, #463139, #3f2a31, #38242a, #321d22, #2b171b);
    --theme-general-bgimage: url(@static/bg.jpg);
    --theme-default-bgimage: var(--theme-general-bgimage);

    --transition: 0.4s;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark-gray);
    font-family: var(--font-family-main);
    font-size: var(--font-main-size);
    background-image: var(--theme-default-bgimage);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

img {
    display: block;
}

.header__text {
    line-height: 1.7;
    font-size: var(--font-header-size);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}

/* SCROLLs */
* {
    scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(37, 56, 97)
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .7)
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .7)
}
