.wrapper {
    margin-left: var(--margin-large);
    padding: var(--margin-medium) 0;
}

.list__container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__item {
    color: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-medium);
}

.list__episode {
    padding: var(--margin-smaller);
    border-radius: var(--border-radius-small);
    background-color: var(--color-red);
}

.list__colon {
    width: 20px;
    font-weight: var(--font-bold);
    text-align: center;
}

.list__title {
    text-shadow: var(--text-shadow-yellow);
}

@media screen and (max-width: 1020px) {
    .wrapper {
        width: 100%;
        margin: 0;
    }
}
